
*.jar

*.class

*.log
/bin/
/classes/


**/bin/
biterm_degrees_bydoc.csv
build
build.xml
**/etc/
indexing_task.log
**/lib/
log4j.properties
qrels.101-150
qrels.151-200
qrels.51-100
**/share/
term_sequence.csv
tipster_classic.readme
tipster_index
tipster_index_degrees
tipster_twidf.readme
topics.101-150
topics.151-200
topics.51-100
**/var/
